a.calendarItem:link

{

  font-weight: bold;

}



a.calendarItem:visited

{

  font-weight: bold;

}



a.calendarItemToday:link

{

  border:1px solid;

  border-color: #ff0000;

  font-weight: bold;

}



a.calendarItemToday:visited

{

  border:1px solid;

  border-color: #ff0000;

  font-weight: bold;

}





.calendarToday

{

  border:1px solid;

  border-color: #ff0000;

}



.calendarNormal

{

}

